.review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .text {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 400px;
    height: 120px;
    resize: none;
    border: 1px solid #ccc;
    padding: 1em;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 400px;
    height: 50px;
    justify-content: space-between;
  }

  .header {
    font-weight: bold;
    margin-bottom: 15px;
  }